<section id="euranova" style="margin-top:150px;">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="block">
    <div style="margin-bottom: 35px;">
      <h2>{{ .Site.Params.euranova.pdfLink | markdownify }}</h2>
    </div>
      <div class="col-md-9" style="width:100%">
      <a href="{{ .Site.Params.euranova.imageURL }}" target = _blank><img src="{{ .Site.Params.euranova.imageAddr | markdownify }}" alt="Call for paper" style="width:100%"></a>
    </div>
  </div>
</div>
</div>
</div>
</section>
