{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "venue-information">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <div class="block">
          <h1>{{ $data.venueinformation.title1 }}</h1>
            <div class="google-map" style="margin-bottom: 10px">
              <iframe width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.809207445025!2d-73.56562848415956!3d45.49378667910135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a60c9579333%3A0xed21070ced136f14!2sMaison%20des%20%C3%A9tudiants%20-%20Pavillion%20E%20%2C%20ETS!5e0!3m2!1sen!2sca!4v1587658471080!5m2!1sen!2sca" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
            <div style="margin-bottom: 30px">
              <p align = "justify"> {{ $data.venueinformation.paragraph }}</p>
            </div>
            <div>
              <img src="{{ $data.venueinformation.image1 }}" width="51.25%" height="100%">
              <img src="{{ $data.venueinformation.image2 }}" width="47.25%" height="100%">
              <div align="justify" style="margin-top: 15px">
              <p align="justify">{{ $data.venueinformation.text1 }}</p>
              </div>
            </div>
            <div>
              <h1>{{ $data.venueinformation.title2 }}</h1>
            </div>
            <div>
              {{ if $data.venueinformation.address.enable }}
              {{ range $data.venueinformation.addresses}}
              <div align="justify" style="margin-bottom: 30px">
                <h3>{{ .title }}</h3>
                <p align="justify">{{ .text }} <a href="{{ .link }}">{{ .textLink }}</a></p>
              </div>
              {{ end }}
              {{ end }}
            </div>
            <div class="google-map" style="margin-bottom: 10px">
              <div class="google-map" style="margin-bottom: 100px">
                <iframe width="100%" height="450" src="https://www.google.com/maps/d/embed?mid=1Tjg-J8j5Qrk2l2FjCX5smYxzI8t-Ocg9" frameborder="0" scrolling="no" allowfullscreen></iframe>
              </div>
            </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
